<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommentMapper">
 	
	<resultMap id="communitySelectMap" type="com.yagn.nadrii.service.domain.Comments">
		<result property="commentNo" column="comment_no" jdbcType="NUMERIC" />
		<result property="userId" column="user_id" jdbcType="VARCHAR" />
		<result property="postNo" column="post_no" jdbcType="NUMERIC" />
		<result property="regDate" column="reg_date" jdbcType="VARCHAR" />
		<result property="text" column="text" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- comm의 Create(insert) -->
	<insert id="addComment" parameterType="com.yagn.nadrii.service.domain.Comments">
		INSERT INTO comments(comment_no, user_id, post_no, text, reg_date)
		VALUES(seq_comments_comment_no.nextval, #{userId}, #{postNo}, #{text}, SYSDATE) 
	</insert>

	
	<!-- comm의 Read(select) -->
	<select id="getCommentNo" parameterType="com.yagn.nadrii.service.domain.Comments" resultType="int">
		SELECT comment_no FROM comments WHERE user_id=#{userId} AND reg_date=#{regDage}
	</select>
	
	<select id="getComment" parameterType="int" resultMap="communitySelectMap">
		SELECT comment_no, user_id, post_no, text, reg_date FROM comments WHERE comment_no=#{commentNo}
 	</select>
	
	<select id="listCommentByPost" parameterType="int" resultMap="communitySelectMap">
		SELECT comment_no, user_id, post_no, text, reg_date FROM comments WHERE post_no=#{postNo}
		ORDER BY reg_date DESC
 	</select>
 	
 	<select id="listCommentById" parameterType="int" resultMap="communitySelectMap">
		SELECT comment_no, user_id, post_no, text, reg_date FROM comments WHERE user_id=#{userId}
 		ORDER BY reg_date DESC
 	</select>
	
	<!-- comm의 Update(update) -->
	
	<update id="updateComment" parameterType="com.yagn.nadrii.service.domain.Comments">
		UPDATE comments
		SET text=#{text}
		WHERE comment_no=#{commentNo}
	</update>
	
	<select  id="getTotalCount"  parameterType="int"	 resultType="int">
		SELECT COUNT(*)
	  	FROM(	SELECT comment_no, user_id, text, reg_date 
	  	FROM comments 
	  	WHERE post_no=#{postNo}
						) countTable						
	</select>
	 
	<!-- comm의 delete -->
	<delete id="deleteComment" parameterType="int">
		DELETE FROM comments WHERE comment_no=#{value}
	</delete>
	
	<delete id="deleteCommentByPost" parameterType="int">
		DELETE FROM comments WHERE post_no=#{value}
	</delete>
	
</mapper>