<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		  
<mapper namespace="PurchaseMapper">

	<resultMap id="purchaseSelectMap" type="purchase" >
		<result property="postNo" 			column="post_no" 		 	jdbcType="NUMERIC"/>
		<result property="ticketTitle" 		column="ticket_title" 	 	jdbcType="VARCHAR"/>
		<result property="ticketImage" 		column="ticket_image"	 	jdbcType="VARCHAR"/>
		<result property="bookingDate" 		column="booking_date"	 	jdbcType="VARCHAR"/>
		<result property="cancelDate"		column="cancel_date"	 	jdbcType="VARCHAR"/>
		<result property="ticketPriceAll"	column="ticket_priceall" 	jdbcType="VARCHAR"/>
		<result property="contentId" 		column="content_id" 	 	jdbcType="NUMERIC"/>
		<result property="contentTypeId" 	column="content_typeid" 	jdbcType="NUMERIC"/>
		<result property="flag" 			column="flag_bp" 	 		jdbcType="VARCHAR"/>
		<result property="regDate"			column="reg_date" 	 		jdbcType="DATE"/>
		
	</resultMap>
	
	<insert id="addPurchase" parameterType="purchase">
		INSERT
		INTO purchase (
						post_no,
						ticket_title,
						ticket_image,
						booking_date,
						cancel_date,	
						ticket_priceall,
						content_id,
						content_type_id,
						flag_bp,
						reg_date
						)
		VALUES (
				seq_purchase_post_no.NEXTVAL,
				#{ticketTitle:VARCHAR},
				#{ticketImage:VARCHAR},
				#{bookingDate:VARCHAR},
				#{cancelDate:VARCHAR},
				#{ticketPriceAll:VARCHAR},
				#{contentId:NUMERIC},
				#{contentTypeId:NUMERIC},
				#{flag:VARCHAR},
				SYSDATE
				))
	</insert>





















</mapper>