<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		  
<mapper namespace="Purchase">

	<resultMap id="purchaseSelectMap" type="purchase" >
		<result property="ticketNo" 		column="ticket_no" 		 	jdbcType="NUMERIC"/>
		<result property="buyer.userId" 	column="buyer_id" 		 	jdbcType="VARCHAR"/>
		<result property="imageFile" 		column="image_file"	 	 	jdbcType="VARCHAR"/>
		<result property="regDate" 			column="reg_date"	 	 	jdbcType="DATE"/>
		<result property="bookingDate" 		column="booking_date"	 	jdbcType="NUMERIC"/>
		<result property="lat" 				column="lat"		 	 	jdbcType="VARCHAR"/>
		<result property="lng" 				column="lng" 	 		 	jdbcType="VARCHAR"/>
		<result property="cancelDeadline" 	column="cancel_deadline" 	jdbcType="VARCHAR"/>
		<result property="price" 			column="price" 	 			jdbcType="NUMERIC"/>
		<result property="ticketType" 		column="ticket_type" 	 	jdbcType="NUMERIC"/>
		<result property="ticketCount" 		column="ticket_count" 	 	jdbcType="NUMERIC"/>
		<result property="contentId" 		column="content_id" 	 	jdbcType="NUMERIC"/>
		<result property="contentTypeId" 	column="content_type_id" 	jdbcType="NUMERIC"/>
		<result property="flag" 			column="flag_bp" 	 		jdbcType="VARCHAR"/>
	</resultMap>
	
	
	<insert id="addPurchase" parameterType="purchase">
		INSERT
		INTO purchase (
						ticket_no,
						reg_date,
						buyer_id,
						image_file,
						booking_date,
						lat,
						lng,
						cancel_deadline,	
						price,
						ticket_type,
						ticket_count,
						content_id,
						content_type_id,
						flag_bp
						)
		VALUES (
				seq_purchase_ticket_no.NEXTVAL,
				SYSDATE,
				#{buyer.userId:VARCHAR},	
				#{imageFile:VARCHAR}
				#{bookingDate:NUMERIC}
				#{lat:VARCHAR}
				#{lng:VARCHAR}
				#{cancelDeadline:VARCHAR}
				#{price:NUMERIC}
				#{ticketType:NUMERIC}
				#{ticketCount:NUMERIC}
				#{contentId:NUMERIC}
				#{contentTypeId:NUMERIC}
				#{flag:VARCHAR}
				))
	</insert>





















</mapper>